.content {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    color: var(--main-font);
    min-height: 50vh;
    width: 80vw;
    border: #000000 solid 2px;
    border-radius: 20px;
    background: #282870;
    font-size: x-large;
    max-height: 70vh;
}

.lesson-name {
    color: var(--main-font);
    font-size: xxx-large;
}

.content-block {
    margin: 10px 0 0 0;
}

main {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.photo.small{
    width:10vw;
    height: 10vh;

}

.photo.medium{
    width:20vw;
    height: 20vh;

}

.photo.large{
    width:30vw;
    height: 30vh;

}