header {
    background: rgba(0, 0, 0, 0.3);
    color: var(--main-font);
    text-decoration: none !important;
    font-size: xx-large;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0;
    display: flex;
    width: 100%;
}

header .button {
    transition: transform .3s;
    text-decoration: none;
    display: block;
    border: #F64C72 6px solid;
    border-radius: 12vh;
}

.logo {
    color: #deeaf7;
    text-decoration: none;
    display: block;
    font-family: Tahoma, 'sans-serif';
    padding: 3vh;
    font-size: xxx-large;
}

header .button-group {
    width: auto;
    align-items: center;
    justify-content: center;
    transition: transform .3s;
    text-decoration: none;
    display: flex;
    color: var(--main-font);
}

header .button {
    margin-right: 10px;
    padding: 1vh 4vw 1vh 4vw;
}

header .nickname {
    margin-right: 20px;
    display: block;
    font-size: xxx-large;
    color: var(--main-font);
    text-decoration: none;
}


a {
    text-decoration: none !important;
    color: var(--main-font) !important;
    transition: color 0.3s ease;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.7);
}

header li > a:hover {
    background-color: rgba(255, 255, 255, 0.22) !important;
}

header ul > li > a:hover {
    background-color: rgba(255, 255, 255, 0.22) !important;
}

header li {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.btn-group-lg > .btn, .btn-lg {
    padding: .5rem 3rem;
}

@media all and (min-width: 992px) {
    .dropdown-menu li {
        position: relative;
    }

    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }

    .nav-item .submenu-left {
        right: 100%;
        left: auto;
    }

    .dropdown-menu > li:hover {
        background-color: #f1f1f1
    }

    .dropdown-menu > li:hover > .submenu {
        display: block;
    }
}

@media (max-width: 991px) {
    .dropdown-menu .dropdown-menu {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-bottom: .5rem;
    }
}

@media (max-width: 400px) {
    header {
        flex-direction: column;
    }
    .logo {
        font-size: xx-large;
    }
}