header {
    font-size: xx-large;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0;
    display: flex;
    width: 100%;
}

.logo {
    color: #F64C72;
    text-decoration: none;
    display: block;
    font-family: Tahoma, 'sans-serif';
    padding: 3vh;
    font-size: xxx-large;
}

.button-group {
    width: auto;
    align-items: center;
    justify-content: center;
    transition: transform .3s;
    text-decoration: none;
    display: flex;
    color: white;
}

.button {
    margin-right: 10px;
    padding: 1vh 4vw 1vh 4vw;
}

.nickname {
    margin-right: 20px;
    display: block;
    font-size: xxx-large;
    color: #F64C72;
    text-decoration: none;
}
