.page-rating {
    margin-top: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    color: var(--main-font);
    min-height: 50vh;
    width: 80vw;
    border: #000000 solid 2px;
    border-radius: 20px;
    background: #282870;
    font-size: x-large;
    max-height: 68vh;
}

body {
    overflow-y: auto;
}

main {
    display: flex;
    flex-direction: initial;
    align-items: flex-start;
    justify-content: center;
}

.user-bar {
    justify-content: space-around;
    align-items: center;
    padding: 1vh 0 1vh 0;
    border: #0e1066 3px solid;
    margin-top: 1vh;
    text-decoration: none;
    display: flex;
    width: 100%;
    background: rgba(0, 65, 255, 0.2);
}

.user-name {
    text-align: center;
    text-decoration: none;
    color: #F64C72;
    font-size: 4vh;
}

.user-score {
    text-decoration: none;
    color: #F64C72;
    font-size: 3vh;
    text-align: center;
}

@media screen and (max-width: 640px) {
    .user-name {
        font-size: 3vh;
    }

    .user-score {
        font-size: 2vh;
    }
}

@media screen and (max-width: 460px) {
    .page-rating {
        padding: 10vh 10vw 10vh 10vw;
        width: 100%;
    }
}