main {
    padding: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    color: black;
}

.settings {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 3px black solid;
    border-radius: 10px;
    background: #ffffff;
}


