ul {
    list-style: none;
}

button {
    color: var(--main-font);
    background: rgba(0,0,0,0);
}

.button-block {
    display: flex;
    justify-content: center;
}

img {
    width: 50%;
}
.question-block {
    display: flex;
    flex-direction: column;
}

li {
    display: block;
}