main {
    overflow-y: auto;
    justify-content: space-around;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.user-info {
    display: flex;
    width: 80%;
    border: solid #000000 2px;
    border-radius: 20px;
    color: white;
}

.avatar {
    margin: 10px;
    border: 2px solid black;
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
}

.block-info {
    font-size: xxx-large;
}

.achievement {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 300px;
    height: 300px;
    margin-left: 10px;
    background: no-repeat;
}

.achievement-list {

    display: flex;
    width: 80%;
    border: solid #000000 2px;
    border-radius: 20px;
    color: white;
}

