<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block custom %}
    {% endblock %}
    <meta charset="UTF-8">
    <title> {{ title }} </title>
</head>
<body>
<div class="page">
    <header>
        {% include 'navbar.html' %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</div>
{% block scripts %}
{% endblock %}
</body>
</html>