{% extends 'base.html' %}
{% block custom %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/help.css') }}">
{% endblock %}
{% block content %}
    <div class="help-block">
        <h1>Как пройти курс</h1>
        <h3>Заходим на страницу курсов и наводимся на остров из названия узнаем что за курс и нажимаем на него</h3>
        <img class="avatar" alt="тут был аватар" src="{{ url_for('static', filename='images/help1.png') }}">
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}