{% extends 'base.html' %}
{% block custom %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lesson.css') }}">
{% endblock %}
{% block content %}
    <div class="nav-lesson">
        <a type="button" class="btn-close" href="{{ url_for('roadmap') }}">
            <span class="icon-cross"></span>
            <span class="visually-hidden">Close</span>
        </a>
    </div>
    <div class="lesson-name" id="lesson-name">{{ lesson_format.name }}</div>
    <div class="content">{{ lesson_format.text }}</div>
    <a href="{{ '../test/'+lesson_format.id|string }}" class="test-button">ТЕСТ!!!</a>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/lesson.js') }}"></script>
{% endblock %}