<header>
    <a class="logo" href="/">SeaTeacher</a>
    {% if current_user.is_anonymous %}
        <div class="button-group">
            <a href="{{ url_for('authentication') }}" class="button small">Авторизоваться</a>
        </div>
    {% else %}
        <div class="btn-group">
            <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Меню
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/user/{{ current_user.id }}">Профиль</a></li>
                <li><a class="dropdown-item" href="{{ url_for('roadmap') }}">Курсы</a></li>
                <li><a class="dropdown-item" href="{{ url_for('index') }}">Сообщество</a></li>
                <li><a class="dropdown-item" href="{{ url_for('settings') }}">Настройки</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{{ url_for('logout') }}">Выход</a></li>
            </ul>
        </div>
    {% endif %}
</header>