<header>
    <a class="logo" href="/">SeaTeacher</a>
    {% if current_user.is_anonymous %}
        <div class="button-group">
            <a href="{{ url_for('authentication') }}" class="button small">Авторизоваться</a>
        </div>
    {% else %}
        <div class="menu">
            <input class="menu_input" name="menu" type="radio" id="btn1">
            <label class="menu_label" for="btn1">
                <div class="fa fa-user"></div>
                <div class="menu_text">Профиль</div>
            </label>
            <input class="menu_input" name="menu" type="radio" id="btn2">
            <label class="menu_label" for="btn2">
                <div class="fa fa-comments"></div>
                <div class="menu_text">Сообщество</div>
            </label>
            <input class="menu_input" name="menu" type="radio" id="btn3">
            <label class="menu_label" for="btn3">
                <div class="fa fa-cog"></div>
                <div class="menu_text">Настройки</div>
            </label>
            <input class="menu_input" name="menu" type="radio" id="btn4">
            <label class="menu_label" for="btn4">
                <div class="fa fa-sign-out"></div>
                <div class="menu_text">Выход</div>
            </label>
        </div>
    {% endif %}
</header>