<header>
    <a class="logo" href="/">SeaTeacher</a>
    {% if current_user.is_anonymous %}
        <div class="button-group">
            <a href="{{ url_for('authentication') }}" class="button small">Авторизоваться</a>
        </div>
    {% else %}
        <nav role='navigation'>
            <div id="menuToggle">
                <input type="checkbox"/>
                <span></span>
                <span></span>
                <span></span>
                <ul id="menu">
                    <a href="/user/{{ current_user.id }}">
                        <li>Профиль</li>
                    </a>
                    <a href="{{ url_for('roadmap') }}">
                        <li>Курсы</li>
                    </a>
                    <a href="{{ url_for('index') }}">
                        <li>Сообщество</li>
                    </a>
                    <a href="{{ url_for('settings') }}">
                        <li>Настройки</li>
                    </a>
                    <a href="{{ url_for('logout') }}">
                        <li>Выход</li>
                    </a>
                </ul>
            </div>
        </nav>
    {% endif %}
</header>