{% extends 'base.html' %}

{% block custom %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css') }}">
{% endblock %}

{% block content %}
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                    Добавление курсов
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form action="{{ url_for('admin') }}" enctype="multipart/form-data" method="post" novalidate>
                        {{ curse.csrf_token }}
                        <div class="block-form">
                            <p>{{ curse.name.label }}</p>
                            <p>{{ curse.name(class_="answer-form") }}</p>
                        </div>
                        <div class="block-form">
                            <p>{{ curse.text.label }}</p>
                            <p>{{ curse.text(class_='form-control') }}</p>
                        </div>
                        <button type="submit" class="btn btn-primary">Изменить</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Редактирование
                    курсов
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {% for lesson in lesson_list %}
                        <a href="{{ "/curse_correct/" + lesson.id|string }}"
                           class="list-group-item list-group-item-action active" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ lesson.name }}</h5>
                                <small>{{ lesson.date_create }}</small>
                            </div>
                            <p class="mb-1">{{ lesson.text[:30] }}...</p>
                            <small>Id : {{ lesson.id }}</small>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}