{% extends 'base.html' %}
{% block custom %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/roadmap.css') }}">
{% endblock %}


{% block content %}
    <div class="map">
        {% for lesson in lessons %}
            <a href="/lesson/{{ lesson.id }}" class="lesson-s island-block"
               style="background-image: url({{ url_for('static', filename='images/island.svg') }})">
                <div class="descr">
                    {{ lesson.name }}
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}


{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/roadmap.js') }}"></script>
{% endblock %}