{% extends 'base.html' %}
{% block custom %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}
{% block content %}
    <page class="slide-bar">
        <div class="information">
            <div class="user-info">
                <img class="avatar" alt="тут был аватар" src="{{ url_for('static', filename=url_img) }}">
                <div class="block-info">
                    <div class="name">{{ user.username }}</div>
                    <div class="another-info">{{ user.firstName }} {{ user.secondName }}</div>
                    <div class="another-info">Рейтинг пользователя: {{ user.get_rating() }}</div>
                </div>
            </div>
            <div class="name-achievement">Достижения</div>
            <div class="achievement-list">
                {% for achievement in achievements_list %}
                    <img class="achievement" alt="тут была ачивка"
                         src="{{ url_for('static', filename='images/achievement/'+achievement.id|string+'.png') }} ">
                {% endfor %}
            </div>
        </div>
    </page>

{% endblock %}